@import "colors";

nav{
    // padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0%;
    height:8vh;
    border-bottom:4px solid rgb(248, 246, 246);
    background-color:#210062;
    color:white;
    
    >h1{
        color:white;
        text-transform: uppercase;
    }
    
    >main{
        color:white;
        font-size: 20px;
        font-weight: bold;
        width: 70%;
        display: flex;
        justify-content: flex-end;
        
        
        >a{
            color:white;
            // color: $dark;
            margin: 1rem;
            
            &:hover{
                color: $third;
            }
        }

    }
}
